
.toolbar {
  box-shadow: 9px 19px 85px -9px color($colors, light);
  // border-bottom: 0.5px solid color($colors, light);
  .toolbar-background {
    // background: transparent;
  }
  button {
    color: color($colors, dark-alt);
  }
  .toolbar-title {
    text-transform: capitalize;
    img{
      margin-top:10px;
      width:100px;
    }
  }
}

.toggle {
  position: relative;
  width: 51px;
  height: 12px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  contain: none;
  .toggle-inner {
    left: 2px;
    top: -8px;
    border: 1px solid color($colors, stable);
  }
}
